mixin elementContent()
  .element--num {{! it.num }}
  .element--sym {{! it.sym }}
  .element--name {{! it.name }}
  .element--details
    hr
    table
      | {{? it.discovery && it.discovery != undefined }}
      tr
        td
          |Discovery:
        td
          .element--discovery {{! it.discovery }}
      | {{?}}

      | {{? it.configuration && it.configuration != undefined }}
      tr
        td
          |Electron configuration:
        td
          .element--configuration {{= it.configuration }}
      | {{?}}

      | {{? it.weight && it.weight != undefined }}
      tr
        td
          |Atomic weight:
        td
          .element--weight {{! it.weight }}
      | {{?}}

      | {{? it.density && it.density != undefined }}
      tr
        td
          |Density:
        td
          .element--density {{! it.density }}
      | {{?}}

      | {{? it.boiling && it.boiling != undefined }}
      tr
        td
          |Boiling point:
        td
          .element--boiling {{! it.boiling }}
      | {{?}}

      | {{? it.melting && it.melting != undefined }}
      tr
        td
          |Melting point:
        td
          .element--melting {{! it.melting }}
      | {{?}}

      | {{? it.ionization && it.ionization != undefined }}
      tr
        td
          | Ionization Energy:
        td
          .element--ionization {{! it.ionization }}
      | {{?}}

mixin element(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div(class=spec.__class)&attributes(attributes)
    p This is an example paragraph for the element module
