// Normalize Styles
@import "node_modules/normalize.css/normalize";

// Import all needed help
@import 'common/_variables';
@import 'common/_mixin';
@import 'common/_material-mixin';
@import 'common/_helpers';
@import 'common/_fonts';
@import 'common/_base';
@import 'common/_grid';
@import 'common/_material-design';
@import "common/_mCustomScrollbar";

// Import Modules
@import "../_modules/link/link";
@import "../_modules/standard-banner/standard-banner";
@import "../_modules/primary-nav/primary-nav";

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.skip-links {
    position: absolute;
    z-index: 99;
    background-color: #fff;
}

// Styling on warning for users on IE7 or below
.browsehappy {
    text-align: center;
    margin: 0;
    background: #fff8e2;
    color: #000;
    padding: 0.5em 0;
}

.night {
    background-color: $matte-black;

    #primary-nav {
        ul {
            background-color: $matte-black;

            a {
                color: $white;
            }


            .nav--input label {
                color: $white;
            }
        }

        .lvl1 > li {
            border-bottom: 1px solid palette(grey, 900);
        }
    }

    .menu.active {
        background-color: $matte-black;

        .line {
            background-color: $white;
        }
    }

    .header {
        background-color: palette(lightBlue, 800);
    }

    .elements {
        tr,
        td {
            &:first-child {
                color: palette(grey, 600);
            }
        }

        td {
            &:before {
                background-color: palette(grey, 800);
            }
        }
    }

    .element {
        background-color: transparent !important;

        &.alkali {
            border: 1px solid palette(red,400);
            color: palette(red, 400);
        }

        &.alkaline {
            border: 1px solid palette(deepOrange,400);
            color: palette(deepOrange, 400);
        }

        &.transition {
            border: 1px solid palette(orange,400);
            color: palette(orange, 400);
        }

        &.basic {
            border: 1px solid palette(yellow,400);
            color: palette(yellow, 400);
        }

        &.metalloid {
            border: 1px solid palette(green,400);
            color: palette(green, 400);
        }

        &.nonmetal {
            border: 1px solid palette(indigo,400);
            color: palette(indigo, 400);
        }

        &.halogen {
            border: 1px solid palette(deepPurple,400);
            color: palette(deepPurple, 400);
        }

        &.noble {
            border: 1px solid palette(purple,400);
            color: palette(purple, 400);
        }

        &.lanthanoid {
            border: 1px solid palette(lime,400);
            color: palette(lime, 400);
        }

        &.actinoid {
            border: 1px solid palette(lightGreen,400);
            color: palette(lightGreen, 400);
        }

        &:hover {
            @include scale(1.25);
            @include material-shadow(3);

            background-color: $white !important;
            border-color: $white;
            color: $black;
            cursor: pointer;
            z-index: 5;

            &.disable {
                @include scale(1);
                @include material-shadow(0);

                background-color: transparent !important;
                cursor: default;
            }
        }

        &.disable {
            border: 1px solid none;
            color: palette(grey, 700);
            height: 89px;
        }
    }
}

.elements {
    @include transition(opacity,1s, $easeOutExpo);

    margin-bottom: 20px !important;
    opacity: 1;
    table-layout: fixed;

    &.hide {
        opacity: 0;
    }

    tr,
    td {
        &:first-child {
            font-size: 1.4em;
            font-weight: $bold;
            text-align: center;
        }

        &:only-child {
            background-color: transparent;
        }
    }

    tr {
        &:first-child {
            td {
                padding: 6px 6px 0px;

                &:before {
                    display: none;
                }
            }
        }
    }

    td {
        padding: 0;
        position: relative;
        width: 85px;

        &:before {
            background-color: palette(grey, 300);
            content: "";
            height: 3px;
            position: absolute;
            right: -1px;
            top: -1px;
            width: 3px;
            z-index: -1;
        }

        &:first-child {
            &:before {
                display: none;
            }

            padding: 6px;
            width: 25px;
        }
    }
}

.element {
    @include transition(all, 0.5s, $easeOutExpo);
    @include scale(1);
    @include material-shadow(0);

    background-color: $white;
    padding: 8px 8px 14px;
    text-align: center;
    position: relative;
    z-index: 0;

    &.alkali {
        background-color: palette(red, 300);
        color: palette(red, 900);
    }

    &.alkaline {
        background-color: palette(deepOrange, 300);
        color: palette(deepOrange, 900);
    }

    &.transition {
        background-color: palette(orange, 300);
        color: palette(orange, 900);
    }

    &.basic {
        background-color: palette(yellow, 300);
        color: palette(yellow, 900);
    }

    &.metalloid {
        background-color: palette(green, 300);
        color: palette(green, 900);
    }

    &.nonmetal {
        background-color: palette(indigo, 300);
        color: palette(indigo, 900);
    }

    &.halogen {
        background-color: palette(deepPurple, 300);
        color: palette(deepPurple, 900);
    }

    &.noble {
        background-color: palette(purple, 300);
        color: palette(purple, 900);
    }

    &.lanthanoid {
        background-color: palette(lime, 300);
        color: palette(lime, 900);
    }

    &.actinoid {
        background-color: palette(lightGreen, 300);
        color: palette(lightGreen, 900);
    }

    &:hover {
        @include scale(1.25);
        @include material-shadow(3);

        background-color: $white !important;
        color: $black;
        cursor: pointer;
        z-index: 5;

        &.disable {
            @include scale(1);
            @include material-shadow(0);

            cursor: default;
        }
    }

    &.disable {
        height: 87px;

        .element--sym {
            font-size: 2.25em;
            margin-top: 8px;
        }
    }

    &--sym {
        font-size: 3em;
        font-weight: $bold;
        line-height: normal;
    }

    &--num {
        font-size: 0.8em;
        text-align: left;
    }

    &--name {
        font-size: 0.8em;
    }
}