extends _layouts/base

include _modules/link/link

block content
    section.container
      .wrap
          table.elements.hide

            tr
              td &nbsp;
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
              td 7
              td 8
              td 9
              td 10
              td 11
              td 12
              td 13
              td 14
              td 15
              td 16
              td 17
              td 18

            tr
              td 1
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td(colspan=16)
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem

            tr
              td 2
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td(colspan=10)
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem

            tr
              td 3
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td(colspan=10)
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem

            tr
              td 4
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem

            tr
              td 5
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem

            tr
              td 6
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem

            tr
              td 7
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem

            tr
              td(colspan=19) &nbsp;

            tr
              td(colspan=4) &nbsp;
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem

            tr
              td(colspan=4) &nbsp;
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem
              td
                .element
                  .element--num 00
                  .element--sym XX
                  .element--name Lorem